.chess-game-cell {
  width: 100%;
  aspect-ratio: 1;

  box-sizing: border-box;
  border: 1px solid black;

  background-color: white;
}

.chess-game-cell.dark {
  background-color: black;
}

.chess-game-cell.active {
  background-color: teal;
}