.chess-game-cell {
  width: 100%;
  aspect-ratio: 1;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);

  background-color: var(--chess-primary)
}

.chess-game-cell.dark {
  background-color: var(--chess-secondary);
}

.chess-game-cell.active {
  background-color: var(--chess-active);
}