.chess-game-container {
  position: relative;
  display: grid;
  gap: 0px 0px;
  width: 100%;
  height: 100%;

  background-color: red;
}

.chess-game-cell {
  width: 100%;
  aspect-ratio: 1;
  
  box-sizing: border-box;
  border: 1px solid black;
}