.player-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.player-arrow-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player-arrow {
  width: 100%;
  height: 20px;
  background-color: palegoldenrod;
}